<h1>Welcome to Employee Tracker</h1>
<br><br>


<div class="row">
  <div class="col-sm-6">
    <form action='/' method='post'>
      <div class="form-group">
        <label for="name">Division Name</label>
        <input name="name" id="name" type="text">

        <button type="submit" class="btn btn-success">Add Division</button>
      </div>
    </form>
</div>
<div class="col-sm-6">
  <form action='/project/new' method='post'>
    <div class="form-group">
      <label for="description">Project Description</label>
      <input name="description" id="description" type="text">

      <button type="submit" class="btn btn-success">Add Project</button>
    </div>
  </form>
</div>
</div>



<div class="row">
  <div class="col-sm-4">
    <h3>List of Divisions</h3>
    <ul>
    <% @divisions.each do |d| %>
      <li><a href="division/<%=d.id%>"><%= d.name() %></a></li>
      <% end%>
    </ul>
  </div>
  <div class="col-sm-4">
    <h3>List of Employees</h3>
    <ul>
      <% @all_employees.each do |e| %>
      <li><a href="employee/<%=e.id%>"><%= e.name()%></a></li>
      <% end%>
    </ul>
  </div>
  <div class="col-sm-4">
    <h3>List of projects</h3>
    <ul>
      <% @all_projects.each do |p| %>
      <li><a href="project/<%=p.id%>"><%= p.description()%></a></li>
      <% end%>
    </ul>
  </div>
</div>
